.chat-container {
    display: flex;
    background: black;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center; /* Center content */
    height: 100vh;
    color: white;
  }

  .sidebar {
    width: 19%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 0px;
    color: #ffffff5f;
    display: flex; /* Added */
    flex-direction: column; /* Added */
    height: 100%; /* Added */
  }

  .mira-logo {
    width: 100px; /* Adjust as needed */
    margin: 10px auto;
    display: block;
  }

  .sidebar-menu {
    list-style: none;
    padding: 10px;
  }
  
  .main-content {
    width: 81%; /* Adjusted to occupy the remaining space */
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .menu-item {
    text-decoration: none;
    color: #ffffffc1;
    display: block;
    padding: 20px;
    margin: 5px 0;
    background: transparent;
    
  }

  .menu-item:hover {
    background: #ffffff33;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px; /* Adding rounded corners on hover */
    padding: 15px;
    transition: all 1000ms ease;
  }
  
  .profile-signup-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: auto; /* Push to the bottom of the sidebar */
    padding: 15px;
    justify-content: center;
  }
  
  .profile-button, .signup-button {
    background: transparent;
    color: #ffffffc1;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: all 1000ms ease;
    text-align: left;
  }
  
  .profile-button:hover, .signup-button:hover {
    background: #ffffff33;
    border-radius: 30px;
    align-items: left;
  }
  
  .profile-icon {
    width: 20px;
    margin-right: 5px;
  }

/* Chat History */
.chat-history {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 auto;
  background: transparent;
  padding: 20px 0; /* Added top and bottom padding */
  margin-bottom: 20px;
  margin-right: 1%;
  width: 70%;
}

/* Chat Bubbles */
.chat-bubble {
  padding: 10px;
  margin: 15px;
  font-style: bold;
  max-width: 100%;
  border-radius: 15px;
  background-color: #ffffff33;
  color: #090909d0;
  justify-content: center;
  align-items: center;
}

.chat-bubble.user {
  align-self: center;
  max-width: 100%;
  background-color: #ffffff75;
  justify-content: center;
  align-items: center;
}

/* Chat Input Container */
.chat-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff40;
  width: 100%;
  height: calc(100vh - 1px);
  align-items: center;
  transition: all 500ms ease;
}

/* Chat Input */
.chat-input {
  flex-grow: 1; /* Added */

  border-radius: 25px;
  color: #000000c1;
  padding: 10px;
  margin: 5px;
  background: #ffffff5f;
  outline: none;
  width: 70%;
  resize: none;
  box-sizing: border-box;
  height: auto;
  word-wrap: break-word; /* Enable word wrapping */
  line-height: normal;
}

.chat-input::placeholder {
  color: #ffffff88; /* Or any other color that fits your theme */
  opacity: 1; /* Firefox */
}

/* Send Button */
.send-button {
  background-color: #2d2d2dc4;
  color: #ffffffa4;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  transition: all 500ms ease;
  margin-left: 10px; /* Added */
}

.send-button:hover {
  background: #0f0f0f33;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: #000;
}

/* Input Wrapper */
.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background: #ffffff40;
  overflow-wrap: break-word; /* Wrap text */
}

