@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

body {
  font-family: 'Oxygen', sans-serif;
}


* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* Fallback for non-webkit browsers */
}


.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

/* General styles */
body {
  font-family: 'Oxygen', sans-serif; /* Assuming Oxygen is the global font */
}

/* Box Width */
.boxWidth {
  max-width: 100%;
}

@media (min-width: 1700px) {
  .boxWidth {
    max-width: 1280px;
  }
}

/* Heading 2 */
.heading2 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 66.8px;
  color: white;
  width: 100%;
}

@media (min-width: 480px) {
  .heading2 {
    font-size: 48px;
    line-height: 76.8px;
  }
}

/* Paragraph */
.paragraph {
  font-family: 'Oxygen', sans-serif;
  font-weight: normal;
  color: dimGray; /* Adjust as needed */
  font-size: 18px;
  line-height: 30.8px;
}

/* Flex Center and Start */
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexStart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Padding and Margin (example for sm breakpoint) */
@media (min-width: 768px) {
  .paddingX {
    padding-left: 16px;
    padding-right: 16px;
  }
  .paddingY {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .padding {
    padding: 12px 16px;
  }
  .marginX {
    margin-left: 16px;
    margin-right: 16px;
  }
  .marginY {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

/* Add more styles as needed */

